---
title: One-Time Password SMS Verification
deprecated: false
hidden: true
metadata:
  robots: index
---
Sending one-time passwords via SMS is a great way to keep your customers' credentials safe.
